{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Project Validator" %}{% endblock %}
{% block title %}{% trans "Project Validator" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Project Validator" %}</li>
{% endblock %}

{% block extra_css %}
<link href="{% static "css/mibc.css" %}" rel="stylesheet" type="text/css">
<style>
  #load_form input {
    width: 40%;
  }
</style>
{% endblock %}

{% block left_panel_outer %}{% endblock  %}

{% block main_outer %}
<div class="col-md-10 middle">

{% block main %}
    <div class="row">
      <form id="load_form" class="form-inline"> 
	<input type="text" class="form-control" 
	       id="load_usr" placeholder="User Name"> 
	<input type="text" id="load_proj" class="form-control"
	       placeholder="Project Name">
	<a id="load_btn" class="btn btn-primary" href="#"
	   style="color: #ffffff">Load</a>
	<div id="loading" 
	     class="glyphicon glyphicon-time hidden">
	</div>
	<span id="errmsg" class="label label-danger hidden"></span>
      </form>
    </div>
    <div class="row">
      Status: <div id="status" class="hidden btn">
	<span class="glyphicon" />
      </div>	
    </div>
    <br />
    <div class="row">
      <ul id="results">
      </ul>
    </div>

    <div class="hidden">
      <li class="alert alert-danger" id="error_tpl"></li>
    </div>
    <script src="{% static "js/validator.js" %}"></script>
  </body>

{% endblock %}
      
{% endblock main_outer %}
